<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titulo da Pagina -->
    <title>@ViewBag.Title - Bila Market</title>

<!-- Importaçoes
<link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<body>
   
<!-- Menu -->
<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">Bila Market, Sua melhor escolha, Sua melhor compra</a>
</div>

<div class="row panel">
    <div id="categorias" class="col-xs-3">
        Minhas categorias
    </div>

    <div id="categorias" class="col-xs-8">
        @RenderBody()
    </div>
</div>
</body>
</html>